[Unit]
Description=gateway ext usb power cycle on start

[Service]
Type=oneshot
ExecStart=/usr/sbin/usb-pwr-cycle.py

[Install]
WantedBy=basic.target
